.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tick line{
    opacity: 0.2;
}

text {
    font: 10px sans-serif;
}

#container {
    float: left;
}

#legend {
    float: left;
}