
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    overflow: visible;
    background: transparent url('https://zoesandbox.s3-ap-southeast-1.amazonaws.com/img/preloader.gif') no-repeat center center;
}
